<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>

    <!-- Match assembly file paths -->
    <ModulePaths>
      <Include>
        <ModulePath>.*Microsoft\.Health\..*\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*E2E.dll$</ModulePath>
        <ModulePath>.*Integration.dll$</ModulePath>
        <ModulePath>.*Tests.dll$</ModulePath>
      </Exclude>
    </ModulePaths>

    <!-- Match attributes on any code element -->
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>

    <!-- Match the path of the source files in which each method is defined -->
    <Sources>
      <Exclude>
        <Source>.*Program\.cs$</Source>
        <Source>.*\.Generated\.cs$</Source>
        <Source>.*\.Generated\.*\.cs$</Source>
      </Exclude>
    </Sources>

    <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
    <CollectAspDotNet>False</CollectAspDotNet>
    <CollectFromChildProcesses>True</CollectFromChildProcesses>
    <EnableDynamicNativeInstrumentation>True</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableStaticNativeInstrumentationRestore>True</EnableStaticNativeInstrumentationRestore>
    <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>

  </CodeCoverage>
</Configuration>
